.row{
  text-align: center;
  border: #99A8AD 3px solid;
  
}
.botao-redes:hover{
  background-color: #5f6568;
  
}
.skills-links:hover{
  background-color: #5f6568;
}
.skills-links {
  background-color: gray;
  color: white;
  border-radius: 10%;
  padding: 5px 8px;
  display: inline-block;
  margin: 10px ;
  transition: .3s ease;
  margin-left: 2%;

}
.skills-links a[href]{
  color: black ;
  text-decoration: none;
  font-weight: bolder;

}

  .botao-redes{
    background-color: gray;
    border-radius: 10%;
    padding: 12px 18px;
    display: inline-block;
    margin: 10px 0;
    transition: .3s ease;
    margin-bottom: 20px;
    position: relative;
    
  }

  #full-name{
    text-align: center;
  }
  
  body{
    font-family: monospace;
    background-color: #364044;
    color: #99A8AD;
    font-size:x-large;
  }
  h3#softskills, h3#hardskills {
text-align: center;
  }
 
.top-border{
  border: #99A8AD 5px solid;
  padding: 20px;
  /* width: 200px; */
}
/* div{
  border: #99A8AD 5px solid;
} */

#foto-perfil{
  float: left;
  margin-left: 2%;
  border: #5f6568 4px solid;
  
}
.sobre-mim{
  text-align: left;
  margin-left: 250px;
  border: #99A8AD 2px solid;
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 2%;
  
}
#cep{
  text-align: right;
  margin-right: 2%;
  font-weight: bolder;
  margin-bottom: 0;
}
.lista-sskills{
  border: #99A8AD 3px solid;
}
.lista-hskills{
  border: #99A8AD 3px solid;
  margin-top: 10px;
}