#botão{
    color: white;
    
  }
  button{
    background-color: gray;
    
  }

  #full-name{
    text-align: center;
  }
  div{
    text-align: center;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #364044;
    color: #99A8AD;
  }
  h3 {
text-align: center;
  }
  