/* navbar */
.offcanvasBg, .listaBtn, .bgBlack {
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
}

navbar {
  padding: 0;
  margin-top: 35px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li+li {
  margin-left: 30px;
}
button {
  background: none;
  border: none;
}

.navbar a, .navbar button,
.navbar a:focus, .navbar button:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:before, .navbar button:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #18d26e;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,.navbar button:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 30px;
}

.navbar a:hover,.navbar button:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}
